@import '~antd/dist/antd.css';

.App {
  text-align: center;
}

.App-logo {
  height        : 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height      : 100vh;
  display         : flex;
  flex-direction  : column;
  align-items     : center;
  justify-content : center;
  font-size       : calc(10px + 2vmin);
  color           : white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.Topic-Body {
  position: fixed;
  top     : 0;
  bottom  : 0;
  left    : 1px;
  right   : 1px;
}

.Message-Container {
  border-left   : 1px solid #e1e1e1;
  border-right  : 1px solid #e1e1e1;
  box-sizing    : border-box;
  width         : 50%;
  margin        : 0 auto;
  height        : 100%;
  position      : relative;
  display       : flex;
  overflow      : hidden;
  flex-direction: column;
}

.MessageSubject-Content {
  background-color: #F3F3F3;
  padding         : 5px 20px;
}

.MessageList-Content {
  position     : relative;
  min-height   : 10%;
  flex-grow    : 2;
  flex-shrink  : 2;
  border-bottom: 1px solid #e1e1e1;
}

/* .Beautify-Scroll-Bar::-webkit-scrollbar
{
    width: 4px;
    height: 4px;
}

.Beautify-Scroll-Bar::-webkit-scrollbar-track
{
    border-radius: 4px;
} */

.MessageList {
  display   : block;
  overflow-y: auto;
  position  : absolute;
  top       : 0;
  left      : 0;
  right     : 0px;
  bottom    : 0px;
}

.Seller-Content {
  clear: both;
  float: left;
}

.Buyer-Content {
  clear: both;
  float: right;
}

.Seller-Content .MessageContainer,
.Buyer-Content .MessageContainer {
  width        : 45%;
  border       : 1px solid #9BCF6D;
  margin-bottom: 6px;
  border-radius: 5px;
  padding      : 0 10px;
  margin       : 15px 20px;
  box-shadow   : 2px 2px 2px #DDD;
}

.Buyer-Content .MessageContainer {
  background-color: #A2E563;
  float           : right;
}

.MessageBottom .ChatInput-Content textarea {
  min-height: 100px;
  max-height: 200px;
  resize: none;
}